* {box-sizing:border-box;}
h1{text-align:center;
  padding-bottom: 1em;
  color:purple;
  font-size: 4rem;}
aside {float: left; 
      padding-top: 3rem;
      width:40%;
      background-color: lavender;
      //*margin-right: 3rem;
      margin-left: 2rem;*//}
secton{float:right;
      width:60%;
      //*padding-left: 2em;
      margin-left: 2rem;*//}
nav{clear:both;
  display: inline;
  text-align: center;
  margin:auto;
  max-height:auto;
  margin-top: auto;}
.header-nav {}
.header-links {
            line-height: normal; //*finally figured out how to get the text to line up with the height of the nav background, and not have the links be too tall*//
            position: relative;
            margin-left: 1em;
            font-size: 1.5em;
            padding-left: 1 em;
            padding-right: 1em;
            color:purple;
            background-color:mediumpurple;
            margin-top: auto;
            margin-left:auto;
            display:flex;
            }
ul{clear:both;}
li{display: inline;
  margin:auto;}
.aside-images {font-size: 2em;
              color:purple;
              text-align: center;
              margin:2em}